* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #a3a4a6;
  position: fixed;
}

.header img {
max-height: 70px;
max-width: auto;
}

.logo {
  font-size: 2rem;
  color: #fff;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.article {
  padding-top: 120px;
  padding-left: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #D3D3D3;
}

.article-pola {
  flex: 1;
  flex-direction: column;
  max-width: 45%;
  vertical-align: top;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-pola-top {
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
}

.article-pola-top img {
  max-height: 330px;
  max-width: auto;
}

.article-pola-top a {
  font-style: normal;
  align-self: end;
  font-size: 0.75rem;
  padding-right: 20px;
  color: #525456;
}

.article-pola-bottom {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}


.article-pola-bottom a {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.article-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}